[Desktop Entry]
Name=Update einspielen
Comment=Update von einem USB-Stick einspielen
Icon=gtk-settings
Exec=/sbin/doUpdate.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
Path=
StartupNotify=false
