[Desktop Entry]
Name=File Upload
Comment=Aktiviert das Hochladen von Dateien
Icon=/home/mk/Bilder/mediakit/fileUpload_s.png
Exec=/usr/bin/activateFileUpload.sh
Type=Application
Terminal=false
Categories=None;
StartupNotify=true
Terminal=false
MimeType=inode/directory;

Path=
