[Desktop Entry]
Name=QR-Code Generator
Comment=Generiert einen QR-Code aus einem beliebigen Text
Icon=
Exec=/home/mk/scripts/qrCodeGenerator.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
Path=/home/mk/
StartupNotify=false
