[Desktop Entry]
Name=Mediakit auf Gerät kopieren
Comment=Das komplette System wird auf ein anderes Gerät gespeichert
Icon=gtk-settings
Exec=/sbin/saveMediakit2Device.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
Path=
StartupNotify=false
