[Desktop Entry]
Name=Modul erstellen
Comment=Veränderungen werden in einem mediakit Modul gespeichert
Icon=gtk-settings
Exec=/sbin/saveNewModul.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
Path=
StartupNotify=false
