[Desktop Entry]
Name=Internet freigeben
Comment=Gib den Internetzugang für verbundene Geräte frei
Icon=/home/mk/Bilder/mediakit/unblockInternet_s.png
Exec=/usr/bin/unblock.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
Path=
StartupNotify=false
